style.
  .narbar{width:850px;height:60px;background-color:green;}
div.narbar
  ul.nav
    li.active
      a(href='/') 首页
    -if(!user)
      li
       a(href='/login') 登录
      li
       a(href='/reg') 注册
    -else
     li
       a(href='/logout') 退出
div#container.container
  -if(success)
    div.alert.alert-success=success
  -if(error)
    div.alert.alert-error=error
!='<hr />'